##preprocessing

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv('/content/train.csv')
dt = pd.read_csv('/content/test.csv')

In [ ]:
df.head()

,id,Type de produit,Montant accepté,Ancienneté à lemploi,Situation logement,Canal production,Durée du prêt,Type client,Statut de lemploi,Charges totales,...,Segment,Montant échéance,Situation familiale,Montant demandé,Taux dendettement,Taux dinteret,Région/pays de résidence,Genre,Ancienneté de logement,Nombre d’échéance en retard
0,id_49182,Crédit classique,310000.00,190.0,Hébergé,Agence,36,CCP,Public,10982.51,...,Salarié,10982.51,Célibataire,310000.00,0.292398,12.9,Sidi Bel-Abbès,Homme,NaN,0
1,id_69738,Crédit classique,300000.00,NaN,Propriétaire,Agence,36,CCP,NaN,10538.24,...,Retraité,10538.24,Marié (e),300000.00,0.254547,12.9,Béjaïa,Homme,0.0,0
2,id_2686,Crédit classique,360000.00,132.0,Hébergé,Agence,36,CCP,Public,12708.32,...,Salarié,12708.32,Marié (e),360000.00,0.288171,12.9,Souk - Ahras,Homme,NaN,0
3,id_43387,Crédit classique,375501.98,90.0,Hébergé,Agence,36,CCP,Public,13303.08,...,Salarié,13303.08,Célibataire,375501.98,0.295004,12.9,El - Bayadh,Homme,NaN,0
4,id_28579,Crédit classique,389130.00,24.0,Hébergé,Agence,36,CCP,Privé,13785.89,...,Salarié,13785.89,Marié (e),389130.00,0.287206,12.9,Ain - Defla,Homme,NaN,10

In [ ]:
df['Segment'].value_counts()

Salarié                8429
Retraité               2869
Commerçant               28
Profession libérale       4
57000                     1
31450                     1
27164.64                  1
Name: Segment, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               11333 non-null  object
 1   Type de produit                  11333 non-null  object
 2   Montant accepté                  11333 non-null  float64
 3   Ancienneté à lemploi             8463 non-null   float64
 4   Situation logement               11333 non-null  object
 5   Canal production                 7305 non-null   object
 6   Durée du prêt                    11333 non-null  int64
 7   Type client                      11333 non-null  object
 8   Statut de lemploi                8470 non-null   object
 9   Charges totales                  11333 non-null  float64
 10  Revenu totaux                    11333 non-null  float64
 11  Existence dun 2ème inerlocuteur  11333 non-null  object
 12  Age                              11330 non-null  float64
 13  Secteur dactivité                8464 non-null   object
 14  Salaire net mensuel.1            11332 non-null  object
 15  Segment                          11333 non-null  object
 16  Montant échéance                 11333 non-null  object
 17  Situation familiale              11333 non-null  object
 18  Montant demandé                  11333 non-null  float64
 19  Taux dendettement                11333 non-null  float64
 20  Taux dinteret                    11333 non-null  float64
 21  Région/pays de résidence         11333 non-null  object
 22  Genre                            11263 non-null  object
 23  Ancienneté de logement           4362 non-null   float64
 24  Nombre d’échéance en retard      11333 non-null  int64
dtypes: float64(9), int64(2), object(14)
memory usage: 2.2+ MB

In [ ]:
df.isnull().sum()

id                                    0
Type de produit                       0
Montant accepté                       0
Ancienneté à lemploi               2870
Situation logement                    0
Canal production                   4028
Durée du prêt                         0
Type client                           0
Statut de lemploi                  2863
Charges totales                       0
Revenu totaux                         0
Existence dun 2ème inerlocuteur       0
Age                                   3
Secteur dactivité                  2869
Salaire net mensuel.1                 1
Segment                               0
Montant échéance                      0
Situation familiale                   0
Montant demandé                       0
Taux dendettement                     0
Taux dinteret                         0
Région/pays de résidence              0
Genre                                70
Ancienneté de logement             6971
Nombre d’échéance en retard           0
dtype: int64

In [ ]:
df.columns

Index(['id', 'Type de produit', 'Montant accepté', 'Ancienneté à lemploi',
       'Situation logement', 'Canal production', 'Durée du prêt',
       'Type client', 'Statut de lemploi', 'Charges totales', 'Revenu totaux',
       'Existence dun 2ème inerlocuteur', 'Age', 'Secteur dactivité',
       'Salaire net mensuel.1', 'Segment', 'Montant échéance',
       'Situation familiale', 'Montant demandé', 'Taux dendettement',
       'Taux dinteret', 'Région/pays de résidence', 'Genre',
       'Ancienneté de logement', 'Nombre d’échéance en retard'],
      dtype='object')

In [ ]:
import pandas as pd
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
# Display the categorical columns
print(categorical_cols)

Index(['id', 'Type de produit', 'Situation logement', 'Canal production',
       'Type client', 'Statut de lemploi', 'Existence dun 2ème inerlocuteur',
       'Secteur dactivité', 'Salaire net mensuel.1', 'Segment',
       'Montant échéance', 'Situation familiale', 'Région/pays de résidence',
       'Genre'],
      dtype='object')

In [ ]:
dt2 = dt['id']
dt2

0       id_89668
1       id_68297
2       id_77021
3       id_27759
4       id_89347
          ...
5578    id_13927
5579    id_66626
5580    id_95016
5581     id_8354
5582     id_6181
Name: id, Length: 5583, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Créer une liste de valeurs pour illustrer l'encodage
#col=["Situation logement"	,'Type de produit',"Canal production"	,"Type client"	,"Statut de lemploi"	,"Existence dun 2ème inerlocuteur"	,"Secteur dactivité" ,"Segment"	,"Situation familiale",	"Région/pays de résidence"	,"Genre"]
col = ['id', 'Type de produit', 'Situation logement', 'Canal production',
       'Type client', 'Statut de lemploi', 'Existence dun 2ème inerlocuteur',
       'Secteur dactivité', 'Salaire net mensuel.1', 'Segment',
       'Montant échéance', 'Situation familiale', 'Région/pays de résidence',
       'Genre']




# Instancier le LabelEncoder
encoder = LabelEncoder()

# Effectuer le Label Encoding
for c in col:
    df[c] = encoder.fit_transform(df[c])

for c in col:
    dt[c] = encoder.fit_transform(dt[c])

In [ ]:
df['Ancienneté à lemploi'] = np.minimum(df['Ancienneté à lemploi'], 2400)

dt['Ancienneté à lemploi'] = np.minimum(dt['Ancienneté à lemploi'], 2400)

In [ ]:
df['Ancienneté à lemploi'].fillna(df['Ancienneté à lemploi'].mean(),inplace=True)

df['Age'].fillna(df['Age'].mean(), inplace=True)

df['Ancienneté de logement'].fillna(df['Ancienneté de logement'].mean(), inplace=True)


df['Canal production'].fillna(df['Canal production'].mean(), inplace=True)

df['Statut de lemploi'].fillna(df['Statut de lemploi'].mean(), inplace=True)

df['Secteur dactivité'].fillna(df['Secteur dactivité'].mean(), inplace=True)

df['Segment'].fillna(df['Segment'].mean(), inplace=True)

df['Genre'].fillna(df['Genre'].mean(), inplace=True)

df.dropna(subset=['Salaire net mensuel.1'], inplace=True)





dt['Ancienneté à lemploi'].fillna(dt['Ancienneté à lemploi'].mean(),inplace=True)

dt['Age'].fillna(dt['Age'].mean(), inplace=True)

dt['Ancienneté de logement'].fillna(dt['Ancienneté de logement'].mean(), inplace=True)


dt['Canal production'].fillna(dt['Canal production'].mean(), inplace=True)

dt['Statut de lemploi'].fillna(dt['Statut de lemploi'].mean(), inplace=True)

dt['Secteur dactivité'].fillna(dt['Secteur dactivité'].mean(), inplace=True)

dt['Segment'].fillna(dt['Segment'].mean(), inplace=True)

dt['Genre'].fillna(dt['Genre'].mean(), inplace=True)

dt.dropna(subset=['Salaire net mensuel.1'], inplace=True)

##creating a model

In [ ]:
df.head()

,id,Type de produit,Montant accepté,Ancienneté à lemploi,Situation logement,Canal production,Durée du prêt,Type client,Statut de lemploi,Charges totales,...,Segment,Montant échéance,Situation familiale,Montant demandé,Taux dendettement,Taux dinteret,Région/pays de résidence,Genre,Ancienneté de logement,Nombre d’échéance en retard
0,5783,2,310000.00,190.000000,0,0,36,0,2,10982.51,...,6,436,3,310000.00,0.292398,12.9,37,1,28.004448,0
1,8456,2,300000.00,122.532435,2,0,36,0,3,10538.24,...,5,251,5,300000.00,0.254547,12.9,13,1,0.000000,0
2,2444,2,360000.00,132.000000,0,0,36,0,2,12708.32,...,6,1244,5,360000.00,0.288171,12.9,39,1,28.004448,0
3,4928,2,375501.98,90.000000,0,0,36,0,2,13303.08,...,6,1471,3,375501.98,0.295004,12.9,17,1,28.004448,0
4,2700,2,389130.00,24.000000,0,0,36,0,1,13785.89,...,6,1636,5,389130.00,0.287206,12.9,2,1,28.004448,10

In [ ]:

#drop les moins importantes

columns = ['Genre',
'Revenu totaux' ,
'Montant échéance','id' ]

df.drop(columns, axis=1 ,inplace = True )
dt.drop(columns, axis=1 ,inplace = True )

In [ ]:
df.head()

,Type de produit,Montant accepté,Ancienneté à lemploi,Situation logement,Canal production,Durée du prêt,Type client,Statut de lemploi,Charges totales,Existence dun 2ème inerlocuteur,...,Secteur dactivité,Salaire net mensuel.1,Segment,Situation familiale,Montant demandé,Taux dendettement,Taux dinteret,Région/pays de résidence,Ancienneté de logement,Nombre d’échéance en retard
0,2,310000.00,190.000000,0,0,36,0,2,10982.51,3,...,10,2472,6,3,310000.00,0.292398,12.9,37,28.004448,0
1,2,300000.00,122.532435,2,0,36,0,3,10538.24,3,...,21,3454,5,5,300000.00,0.254547,12.9,13,0.000000,0
2,2,360000.00,132.000000,0,0,36,0,2,12708.32,3,...,18,4093,6,5,360000.00,0.288171,12.9,39,28.004448,0
3,2,375501.98,90.000000,0,0,36,0,2,13303.08,3,...,10,4310,6,3,375501.98,0.295004,12.9,17,28.004448,0
4,2,389130.00,24.000000,0,0,36,0,1,13785.89,3,...,5,4856,6,5,389130.00,0.287206,12.9,2,28.004448,10

In [ ]:

#X=df.drop('Nombre d’échéance en retard', axis=1)
X=df[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]
#X=df[['Segment']]
Y=df['Nombre d’échéance en retard']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y , test_size=0.3, random_state=42)

##model1

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression

In [ ]:

# Initialiser le modèle et l'entraîner
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [ ]:

y_pred = model.predict(X_test)

print(y_pred)  # Affiche les valeurs prédites

[4.79050242 5.12717499 2.78826861 ... 5.49445417 2.78826861 4.51504304]

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import numpy as np

In [ ]:
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(Y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2) Score:", r2)

Mean Squared Error (MSE): 51.85661764966882
Root Mean Squared Error (RMSE): 7.201153910983213
R-squared (R2) Score: 0.028314819786701362

In [ ]:
y_pred_sur_test = model.predict(dt)

ValueError: ignored

In [ ]:
dt2

In [ ]:
import pandas as pd

# Liste des ID
ids = dt2


# Liste des résultats du test
y_pred_sur_test
# Créer le DataFrame
df_sub = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': y_pred_sur_test})

# Afficher le DataFrame
print(df_sub)

In [ ]:
import pandas as pd
file_path = '/content/uv.csv'
df_sub.to_csv(file_path, index=False)

##model2

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

model = RandomForestRegressor(n_estimators=300,max_depth = 10,min_samples_split=2)
# Train the model
model.fit(X_train, Y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.777715875834879

In [ ]:
importance = model.feature_importances_

In [ ]:
sorted_indices = importance.argsort()[::-1]
sorted_importance = importance[sorted_indices]
sorted_features = X_train.columns[sorted_indices]

for feature, importance_score in zip(sorted_features, sorted_importance):
    print(f'{feature}: {importance_score}')

In [ ]:
#sorted_features

In [ ]:
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.777715875834879

In [ ]:

Y=dt[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]
#Y=df.drop('Nombre d’échéance en retard', axis=1)
Y

In [ ]:
#y_pred_resultats2 = model.predict(dt)
y_pred_resultats2 = model.predict(Y)

In [ ]:
y_pred_resultats2

array([0.3775823 , 3.29923212, 3.14343763, ..., 0.27347076, 8.07031114,
       3.63179279])

In [ ]:
import pandas as pd

# Liste des ID
ids = dt2
# Liste des résultats du test
y_pred_resultats2

rounded_array_2 = np.round(y_pred_resultats2)
int_2 = rounded_array_2.astype(int)


# Créer le DataFrame
df_sub_2 = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': int_2})

# Afficher le DataFrame
#print(df_sub_2)
#print(y_pred_resultats2)


print(df_sub_2)

rounded_array_2 = np.round(y_pred_resultats2)
int_2 = rounded_array_2.astype(int)
#print(int_2)
#print(rounded_array_2)

            id  Nombre d’échéance en retard
0     id_89668                            0
1     id_68297                            3
2     id_77021                            3
3     id_27759                            6
4     id_89347                            2
...        ...                          ...
5578  id_13927                            7
5579  id_66626                            5
5580  id_95016                            0
5581   id_8354                            8
5582   id_6181                            4

[5583 rows x 2 columns]

In [ ]:
import pandas as pd
file_path = '/content/2.csv'
df_sub_2.to_csv(file_path, index=False)

##model3

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split



# Initialiser le modèle
model = xgb.XGBRegressor(learning_rate=0.1, max_depth=5, n_estimators=100)

# Entraîner le modèle
model.fit(X_train, Y_train)

# Prédire les valeurs sur l'ensemble de test
y_pred = model.predict(X_test)

mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.768997574344765

In [ ]:
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.768997574344765

In [ ]:
Y=dt[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]

In [ ]:
y_pred_resultats3 = model.predict(Y)

In [ ]:
import pandas as pd

# Liste des ID
ids = dt2
# Liste des résultats du test
y_pred_resultats3

rounded_array_3 = np.round(y_pred_resultats3)
int_3 = rounded_array_3.astype(int)


# Créer le DataFrame
df_sub_3 = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': int_3})

# Afficher le DataFrame
#print(df_sub_2)
#print(y_pred_resultats2)


print(df_sub_3)


#print(int_2)
#print(rounded_array_2)

            id  Nombre d’échéance en retard
0     id_89668                            1
1     id_68297                            2
2     id_77021                            2
3     id_27759                            3
4     id_89347                            0
...        ...                          ...
5578  id_13927                            7
5579  id_66626                            4
5580  id_95016                            2
5581   id_8354                            7
5582   id_6181                            2

[5583 rows x 2 columns]

In [ ]:
import pandas as pd
file_path = '/content/uv_11.csv'
df_sub_3.to_csv(file_path, index=False)

##model4:

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split



# Initialiser le modèle
model = SVR(kernel='linear' ,C=0.1,epsilon=0.1 )

# Entraîner le modèle
model.fit(X_train, Y_train)

# Prédire les valeurs sur l'ensemble de test
y_pred = model.predict(X_test)

mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

In [ ]:
param_grid = {
    'kernel': ['linear', 'rbf'],
    'C': [0.1, 1, 10],
    'epsilon': [0.1, 0.2, 0.3]
}

In [ ]:
y_pred_resultats4 = model.predict(dt)

In [ ]:
import pandas as pd

# Liste des ID
ids = dt2
# Liste des résultats du test
y_pred_resultats4

rounded_array_4 = np.round(y_pred_resultats4)
int_4 = rounded_array_4.astype(int)


# Créer le DataFrame
df_sub_4 = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': int_4})

# Afficher le DataFrame
#print(df_sub_2)
#print(y_pred_resultats2)


print(df_sub_4)


#print(int_2)
#print(rounded_array_2)

            id  Nombre d’échéance en retard
0     id_89668                            0
1     id_68297                            0
2     id_77021                            0
3     id_27759                            0
4     id_89347                            0
...        ...                          ...
5578  id_13927                            0
5579  id_66626                            0
5580  id_95016                            0
5581   id_8354                            0
5582   id_6181                            0

[5583 rows x 2 columns]

In [ ]:
import pandas as pd
file_path = '/content/uv_10.csv'
df_sub_4.to_csv(file_path, index=False)

In [ ]:
X.shape

(11333, 21)

##model6

In [ ]:
import numpy as np
from tensorflow import keras
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [ ]:

X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

X_train,X_val,y_train,y_val= train_test_split(X_train,y_train,test_size=0.1)

In [ ]:
X.shape

(11333, 21)

In [ ]:
from tensorflow import keras

# Créer le modèle de régression
model = keras.Sequential()
model.add(keras.layers.Dense(32, activation='relu', input_shape=(21,)))
model.add(keras.layers.Dense(64, activation='relu'))
model.add(keras.layers.Dense(128, activation='relu'))
model.add(keras.layers.Dense(64, activation='relu'))
model.add(keras.layers.Dense(1))  # Couche de sortie pour la régression

In [ ]:
# Compiler le modèle
model.compile(optimizer='adam', loss='mean_squared_error')

# Définir l'arrêt anticipé
early_stopping = keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Entraîner le modèle avec arrêt anticipé
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=32, callbacks=[early_stopping])

# Prédire les valeurs sur l'ensemble de test
y_pred = model.predict(X_test)

In [ ]:
# Calculer l'erreur quadratique moyenne (Mean Squared Error)
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 106.75406177243434

In [ ]:
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 10.332185720961192

In [ ]:
y_pred_resultats5 = model.predict(dt)

# Assuming you have a tensor 'tensor'
y_pred_resultats5_array = np.array(y_pred_resultats5)

175/175 [==============================] - 0s 2ms/step

In [ ]:
import pandas as pd

# Liste des ID
ids = dt2
# Liste des résultats du test
y_pred_resultats5_array

rounded_array_5 = np.round(y_pred_resultats5_array)
int_5 = rounded_array_5.astype(int)


# Créer le DataFrame
df_sub_5 = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': int_5})

# Afficher le DataFrame
#print(df_sub_2)
#print(y_pred_resultats2)


print(df_sub_5)


#print(int_2)
#print(rounded_array_2)

In [ ]:
import pandas as pd
file_path = '/content/uv_11.csv'
df_sub_5.to_csv(file_path, index=False)

In [ ]:
ValueError: Per-column arrays must each be 1-dimensional